* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f7fa;
    color: #333;
}

/* HEADER */
.header {
    background-color: #1e88e5;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.nav a:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #42a5f5, #1e88e5);
    color: white;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.hero a button {
    padding: 12px 25px;
    border: none;
    background-color: white;
    color: #1e88e5;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.hero a button:hover {
    background-color: #e3f2fd;
}
#intro {
    scroll-behavior: initial;
}
h2 {
    font-size: 2rem;
    padding: 10px;
}
p {
    font-size: 1.2rem;
}
.tinhnang {
    padding: 30px;
    margin: 10px;
}
.chon-khoi-lop {
    width: 40vw;
    height: 5vh;
    background-color: rgb(18, 9, 9);
    color: white;
}